<h1 class="font-bold text-3xl py-4">Hodimlarni boshqarish dasturi</h1>

<div class="mb-3">
    <a href="/add-user" class="bg-blue-500 text-gray-200 rounded-md py-2 px-5 mr-3">User qo'shish</a>
    <a href="/logout" class="bg-gray-200 rounded-md py-2 px-5">Chiqish</a>
</div>